.arrowed-down {
  padding-bottom: 14.8vw;

  &:before {
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
    right: 50%;
    top: 100%;
    margin-top: -14.8vw;
    -webkit-backface-visibility: hidden;
    transform: skewY(16.5deg);
    content: "";
  }
  &:after {
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: -14.8vw;
    //-webkit-transform-style: preserve-3d; 
    //-webkit-backface-visibility: hidden;
    transform: skewY(-16.5deg);

    content: "";
  }
}

.arrowed-up {
  padding-top: 14.8vw;

  &:before {
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
    right: 50%;
    bottom: 100%;
    margin-bottom: -14.8vw;
    //-webkit-transform-style: preserve-3d; 
    //-webkit-backface-visibility: hidden;
    transform: skewY(-16.5deg);
    content: "";
  }
  &:after {
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-bottom: -14.8vw;
    //-webkit-transform-style: preserve-3d; 
    //-webkit-backface-visibility: hidden;
    transform: skewY(16.5deg);
    content: "";
  }
}

.arrowed-dark { 
    &:before, &:after { background: url(../images/pattern-dark.jpg); }
}

.arrowed-light { 
    &:before, &:after { background: url(../images/pattern-light.jpg); }
}

.extra-arrows {

}