h1 {
  font-size: 84px;
  font-size: 7vw;
  line-height: 5vw;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-family: $font-family-header;

  @media (max-width: $screen-sm) {
    font-size: 42px;
    line-height: 38px;
  }
}

h2 {
  padding-top: 8.3%;
  font-size: 36px;
  font-size: 3vw;
  line-height: 3.1vw;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-family: $font-family-header;
  text-align: center;

  @media (max-width: $screen-sm) {
    font-size: 22px;
    line-height: 24px;
  }
}

h3, h1 small {
  font-size: 28px;
  font-size:  2.333vw;
  line-height: 2.3vw;
  color: #b9b9b9;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-family-header;

  @media (max-width: $screen-sm) {
    font-size: 18px;
    line-height: 18px;
  }
}

h1 small {
  display: block;
  padding: 0.5% 0 0.25% 0;
}

h4 {

}

h5 {

}

p {
  padding-top: 1%;
  color: #909090;
  color: rgba(0,0,0,0.56);

  &.lead {
    text-align: center;
    font-weight: 400;
  }
}

.line { 
  display: block;
}