//$font-family-sans-serif: "cubano-sharp";

$font-family-body: "freight-sans-pro";
$font-family-header: "brandon-grotesque";
$font-family-header-alt: "proxima-nova";

$font-family-sans-serif: $font-family-body;

$transition: 0.5s;

$brand-yellow: #ffc706;
$brand-yellow-lighter: #ffd02d;
$brand-yellow-darker: #eab500;

$brand-warning: $brand-yellow;

@import "../vendor/bootstrap-sass/lib/bootstrap";

@import "mixins";
@import "buttons";
@import "typography";

body, html {
  height: 100%;
  font-size: 10px;
}

.page-section {
  width: 100%;
  overflow: hidden;
  position: relative;

  .container {
    min-height: 100vh;

    @media (max-width: $screen-sm) {
      min-height: 320px;
    }
  }
}

.container {
  position: relative;
}

header {
  text-align: center;
}

#navigation {
  background: url(../images/navigation-bg.png) center;
  border: none;

  .navbar-brand {
    width: 105px;
    height: 38px;
    padding: 20px 25px;
    text-indent: -9999em;
    background: url(../images/logo.png) center no-repeat;
    box-sizing: content-box;
  }

  a {
    font-family: $font-family-body;
    text-transform: uppercase;
    color: #bababa;
    font-size: 1.5em;
    padding: 30px 15px 20px;
    @include transition(color $transition);

    &:hover { color: #fff; }
  }

  .navbar-toggle {
    margin-top: 21px;
  }

  .btn {
    padding: 8px 25px;
    margin: 20px 30px;
  }
}

.tris {
  width: 5vw;
  height: 2.5vw;
  display: block;
  margin: 2% auto 3% auto;

  @media (max-width: $screen-sm) {
    width: 40px;
    height: 20px;
  }

  &.tris-med {
    background: url(../images/tris-med.png) no-repeat center;
    background-size: contain;
  }
}

.hero-copy {
  font-size: 18px;
  font-size: 1.4vw;

  @media (max-width: $screen-md) {
    font-size: 14px;
  }
}

#thesis {
  background: url(../images/sunset-ship.jpg) no-repeat;
  background-position: 50% 90%;
  background-size: cover;


  @media (max-width: $screen-sm) {
    background-position: 10% 100%;
  }

  h1 {
    text-shadow: 0 0 100px rgba(0,0,0,0.5);
  }

  .container {
    padding: 2%;
    min-height: 560px;
    height: 100vh;

    @media (max-width: $screen-sm) {
      min-height: 0;
      height: 450px;
    }
  }

  header {
    position: absolute;
    width: 100%;    
    bottom: 5%;

    @media (max-width: $screen-sm) {
      bottom: -6%;
      h3 { margin-top: 0; }
      small { display: block; }
    }
  }
}

#purpose {
  padding-bottom: 54.5%;
  height: 0;
  min-height: 50%;

  @media (max-width: $screen-sm) {
      min-height: 320px;
    }

  background: url(../images/coronado-rails.jpg) no-repeat;
  background-position: center center;
  background-size: cover;

  header {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
  }

}

#purpose-content {
  .container { 
    max-width: 644px; 
    min-height: 0;
  }

  .tris {
    margin-top: 12%;
  }

  background: url(../images/pattern-light.jpg);
}


#course {
  background: #2d9fd1 url(../images/map.jpg) no-repeat center top;
  background-size: 100% auto;

  @media (max-width: $screen-xs) {
    background-size: auto 70%;
  }

  .container {
    min-height: 0;
  }

  .hero-copy {
    margin: 26% auto 0 auto;
    max-width: 544px;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  }

  .hero-copy, .hero-copy p {
    color: rgba(255,255,255,0.8);

    &.lead { color: #fff; font-weight: 600; font-family: $font-family-header-alt; }
  }
}