@import "../vendor/bootstrap-sass/lib/bootstrap";

@import "mixins";

body, html {
  height: 100%;
}

.page-section {
  width: 100%;
  overflow: hidden;
  position: relative;

  .container {
    min-height: 100vh;
  }
}


#thesis {
  background: url(../images/sunset-ship.jpg) no-repeat;
  background-position: 0 60%;
  background-size: cover;
}

#purpose {
  padding-bottom: 54.5%;
  height: 0;
  min-height: 50%;

  background: url(../images/coronado-rails.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}