<div id="footer">
  <div class="container">
    


 

    <div class="copyright">
      A RunNAVY Production.
      <br>
      <b>NOT AFFILIATED WITH THE US GOVERNMENT.</b>
      <br>
      Copyright &copy; 2014 <a href="mailto:ryan@navytenmiler.com">Navy Ten-Miler</a>. All Rights Reserved. Design by <a href="https://chulado.com/" target=
      "blank">Chulado</a>.
    </div>
  </div>
</div>