<%- partial("_navigation") %>

<div class="page-section arrowed-down arrowed-dark" id="thesis">
  <div class="container">
    <h1>Section 1 #thesis</h1>
  </div>
</div>

<div class="page-section arrowed-up arrowed-dark" id="purpose">
  <div class="container">
    <h1>Section 2 #purpose</h1>
  </div>
</div>