<!-- THESIS -->
<div class="page-section arrowed-down arrowed-dark" id="thesis">
  

  <div class="container">
    <header>
      <h1>Race with honor.</h1>
      <h3>San Diego. <small>11 Oct 2015.</small>
          </h3>
    </header>
  </div>
</div>

<!-- PURPOSE -->
<div class="page-section arrowed-up arrowed-dark" id="purpose">
    <header>
      <h1><span class="line">Ten miles</span>
          <small>of</small>
          <span class="line">Purpose</span></h1>

      <div class="tris tris-med"> </div>
    </header>

  <div class="extra-arrows arrowed-down arrowed-light"> </div>
</div>
<div class="page-section" id="purpose-content">
  <div class="container">
    <h2>Mission</h2>
    <p class="lead">
      To support and serve our nation’s Sailors and Marines, 
      and Coast Guardsmen.


    <h2>Navy safe <br>harbor foundation</h2>
    <p class="lead">
      Registration proceeds benefit the Navy Safe Harbor Foundation. Serving injured and wounded Sailors, Coast Guardsmen, and their families.
    </p>

    <div class="tris tris-med"> </div>
  </div>
</div>


<!-- MAP -->
<div class="page-section arrowed-down-top arrowed-light" id="course">
  <!--<div class="arrowed-dualing arrowed-light">
    <div> </div> <div> </div>
  </div>-->

  <div class="container">
    <header class="inverted">
      <h3>see the world’s finest fleet </h3>
      <h1>legendary <br>course</h1>
    </header>

    <div class="hero-copy">
      <h2>A first of its kind</h2>
      <h3>base-to-base, ten-mile</h3>
      <h1>Race</h1>
      <!--<p class="lead">
        Vis Per Mare. 
      </p>-->
      <p>
        Starting by ship's whistle, traverse through Naval Station Coronado passing F/A-18 fighter jets, H-60 helicopters of all types, and the world famous USS Ronald Reagan or USS Carl Vinson Nuclear Aircraft Carrier. Cross over the Coronado Bay Bridge by foot and view the City of San Diego like never seen. 
      </p>
        <p>
        Enter Naval Station San Diego for the home stretch; observing the finest fleet of naval warships in the world - destroyers, frigates, cruisers and the amphibious assault community.
      </p>
    </div>
  </div>

  <div class="arrowed-long-left arrowed-dark"> </div>
</div>


<!-- Participants -->
<div class="page-section" id="participants">
  <div class="container">
    <header>
      <div class="tris tris-med"> </div>
      <h1>a World class event</h1>
      <h3>Isn't complete without show-worthy swag</h3>
    </header>
  </div>
  
</div>
<div class="page-section" id="award">
  <div class="arrowed-long-right arrowed-dark"> </div>
  <div class="swag-grid" data-layout="1">
    <div class="photoset-row">
      <div class="photoset-cell">
        <img src="https://d13yacurqjgara.cloudfront.net/users/49803/screenshots/1327129/1410810_10200101601861198_2063233670_o.jpg">
        <div class="caption"><p><i>2014 Navy Ten-Miler</i> Plank Owner Finishers Medal <i><strong>Received by Every Runner</strong></i><i>Made in USA</i></p></div>
      </div>
    </div>
    <!--<img src="http://farm5.staticflickr.com/4079/4819051035_9421e25b2e.jpg" data-caption="<i>Under Armour</i> Navy Safe Harbor Foundation Draw String Bag">
    <img src="https://farm7.staticflickr.com/6058/6298367116_96b0f3c0aa_z.jpg" data-caption="<i>Navy Ten-Miler</i> Custom Race Bib">
    <img src="http://cache.boston.com/resize/bonzai-fba/Globe_Photo/2008/04/21/1208810294_9299/499w.jpg" data-caption="Free Race photos">
    <img src="http://placehold.it/600x800" data-caption="Live event tracking">
    <img src="http://placehold.it/600x800" data-caption="Real-time results">
    <img src="https://farm3.staticflickr.com/2349/2411663691_5320008ac4_b.jpg" data-caption="Water and Gatorade along course">
    <img src="http://placehold.it/600x800" data-caption="Energy stations along course">
    <img src="https://farm4.staticflickr.com/3290/2593786674_56e9244c57_b.jpg" data-caption="Start line and finish line snacks">
    <img src="http://placehold.it/600x800" data-caption="Exclusive offers">-->
  </div>

</div>
<div class="page-section" id="swag">
  <div class="container">
    <h2>All runners receive</h2>
    <ul class="features">
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <img src="http://bowen.australiareplicawatches.com/12710/color9.jpg" class="fa-circled">
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <img src="https://farm7.staticflickr.com/6058/6298367116_96b0f3c0aa_z.jpg" class="fa-circled">
        </div>
        <div class="feature-body">
          <h4><small>Navy Ten-Miler</small><br><b>Custom Race Bib</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Under Armour</small><br><b>Navy Safe Harbor Foundation</b> Draw String Bag</h4>
        </div>
      </li>
    </ul>

    <div class="prices">
      <div class="retail">Runner - Plank Owner. Retail Price: $126</div>
      <div class="bracket">By May 1st: $96 <span class="discount">$30 off</span></div>
      <div class="bracket">By May 1st: $106 <span class="discount">$20 off</span></div>
      <div class="bracket">By May 1st: $116 <span class="discount">$10 off</span></div>
    </div>

    


    <h2>Admiral runners also receive</h2>
    <ul class="features">
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2014 Navy Ten-Miler</small><br><b>Plank Owner Finishers Medal</b></h4>
        </div>
      </li>
    </ul>

    <div class="prices">
      <div class="retail">RAdmiral Registration - $176</div>
      <div class="bracket">By May 1st: $146 <span class="discount">$30 off</span></div>
      <div class="bracket">By May 1st: $156 <span class="discount">$20 off</span></div>
      <div class="bracket">By May 1st: $166 <span class="discount">$10 off</span></div>
    </div>


    <h2>Register Now</h2>
    <div class="btn-toolbar">
      <button class="btn btn-primary">Register Now</button>
    </div>


  </div>
</div>

<div class="page-section arrowed-down-top arrowed-white" id="prices">
  <div class="container">

  </div>
  <div class="arrowed-long-left arrowed-dark"> </div>
</div>


<div class="page-section" id="volunteers">
  <div class="container">
    <header><h1>Volunteers and cheers</h1></header>
    <div class="hero-copy">
    <p class="lead">Without your support, the Navy Ten-Miler would be impossible.  Our course was designed with the spectator in mind – so come on out and feel the electric energy.  Prefer to volunteer?  Great – you’ll make an impact by creating a memorable experience for our participants.  You’ll leave with a smile, shirt, snacks, and a sense of accomplishment knowing you were a part of something bigger than yourself.</p>

    <div class="btn-toolbar">
      <button class="btn-warning btn">Volunteer info</button>
    </div>
    </div>
  </div>
</div>

<div class="page-section" id="partners">
  <div class="arrowed-long-right arrowed-dark"> </div>

  <div class="container">
    <h3>Official Sponsors</h3>
    <div class="row">
      <div class="partner col-xs-3">
        <a href="http://www.safeharborfoundation.org/" target="_blank"><img src="images/nshf-logo.png" alt="Navy Safe Harbor Foundation">
      </div>
      <div class="partner col-xs-3">
       <a href="http://www.roadrunnersports.com/" target="_blank"><img src="images/roadrunner-logo.png" alt="Road Runner Sports"></a>
      </div>
      <div class="partner col-xs-3">
        <a href="http://hoteldel.com/" target="_blank"><img src="images/hotel-coronado.png" alt="Hotel del Coronado"></a>
      </div>
      <div class="partner col-xs-3">
        <a href="http://www.ruckpack.com/" target="_blank"><img src="images/ruckpack-logo.png" alt="Ruckpack Combat Nutrition"></a>
      </div>
    </div>
  </div>
</div>

<div class="page-section" id="footer">

  <div class="container">
    <!--<hr>-->
  </div>
</div>