<!-- THESIS -->
<div class="page-section arrowed-down arrowed-dark" id="thesis">
  

  <div class="container">
    <header>
      <h1>Race with honor.</h1>
      <h3>Coronado to San Diego. <small>05 Oct 2015.</small>
          </h3>
    </header>
  </div>
</div>

<!-- PURPOSE -->
<div class="page-section arrowed-up arrowed-dark" id="purpose">
    <header>
      <h1><span class="line">Ten miles</span>
          <small>of</small>
          <span class="line">Purpose</span></h1>

      <div class="tris tris-med"> </div>
    </header>

  <div class="extra-arrows arrowed-down arrowed-light"> </div>
</div>
<div class="page-section" id="purpose-content">
  <div class="container">
    <h2>Mission</h2>
    <p class="lead">
      To support and serve our nation’s Sailors and Marines, 
      the Navy Safe Harbor Foundation presents Navy Ten-Miler.
    </p>

    <h2>Navy safe <br>harbor foundation</h2>
    <p class="lead">
      Through proactive leadership and your support, we provide individually
      tailored assistance designed to optimize the success of wounded
      shipmates’ recovery, rehabilitation, and reintegration activities. 
    </p>

    <div class="tris tris-med"> </div>
  </div>
</div>


<!-- MAP -->
<div class="page-section" id="course">
  <div class="arrowed-dualing arrowed-light">
    <div> </div> <div> </div>
  </div>

  <div class="container">
    <header class="inverted">
      <h3>see the world’s finest fleet </h3>
      <h1>legendary <br>course</h1>
    </header>

    <div class="hero-copy">
      <h2>brisket <br> porchetta bresaola.</h2>
      <p class="lead">
        Bacon ipsum dolor sit amet sirloin jerky shoulder, chicken pig tongue t-bone filet mignon strip steak. 
      </p>
      <p>
        Doner pig porchetta fatback shankle strip steak. Prosciutto bacon turkey, bresaola sausage andouille drumstick chuck ham hock porchetta boudin chicken venison strip steak. Capicola ham porchetta chicken meatball shank pig, beef ribs short ribs bacon turkey pork chop swine salami. Ground round cow flank venison sausage.
      </p>
    </div>
  </div>

  <div class="arrowed-long-left arrowed-dark"> </div>
</div>