<!-- THESIS -->
<div class="page-section arrowed-down arrowed-dark" id="thesis">
  

  <div class="container">
    <header>
      <h1>Race with honor.</h1>
      <h3>San Diego. <small>11 Oct 2015.</small>
          </h3>
    </header>
  </div>
</div>

<!-- PURPOSE -->
<div class="page-section arrowed-up arrowed-dark" id="purpose">
    <header>
      <h1><span class="line">Ten miles</span>
          <small>of</small>
          <span class="line">Purpose</span></h1>

      <div class="tris tris-med"> </div>
    </header>

  <div class="extra-arrows arrowed-down arrowed-light"> </div>
</div>
<div class="page-section" id="purpose-content">
  <div class="container">
    <h2>Mission</h2>
    <p class="lead">
      To support and serve our nation’s Sailors and Marines.


    <h2>Navy safe <br>harbor foundation</h2>
    <p class="lead">
      Registration proceeds benefit the Navy Safe Harbor Foundation. Serving injured and wounded Sailors, Coast Guardsmen, and their families.
    </p>

    <div class="tris tris-med"> </div>
  </div>
</div>


<!-- MAP -->
<div class="page-section arrowed-down-top arrowed-light" id="course">
  <!--<div class="arrowed-dualing arrowed-light">
    <div> </div> <div> </div>
  </div>-->

  <div class="container">
    <header class="inverted">
      <h3>Legendary Course</h3>
      <h1>Downtown <br>San Diego</h1>
    </header>

    <div class="hero-copy">
      <h2>A Scenic Flat Course</h2>
      <h3>base-to-base, ten-mile</h3>
      <h1>Race</h1>
      <!--<p class="lead">
        Vis Per Mare. 
      </p>-->
      <p>
        Our ten-mile street course will guide you though the city of San Diego, California.  With over a hundred years of naval history, the city of San Diego is the West Coast destination to support and serve the naval community.
      </p>
    </div>
  </div>

  <div class="arrowed-long-left arrowed-dark"> </div>
</div>


<!-- Participants -->
<div class="page-section" id="participants">
  <div class="container">
    <header>
      <div class="tris tris-med"> </div>
      <h1>a World class event</h1>
      <h3>Navy-Inspired Road Race</h3>
    </header>
  </div>
  
</div>
<div class="page-section" id="award">
  <div class="arrowed-long-right arrowed-dark"> </div>
  <div class="swag-grid" data-layout="1">
    <div class="photoset-row">
      <div class="photoset-cell">
        <img src="images/flag.jpg">
        <div class="caption">
          <p><i>2014 Navy Ten-Miler</i> Plank Owner Finishers Medal <i><strong>Received by Every Runner</strong></i><i>Made in USA</i></p>

          <br>
          <p>&amp;</p>
          <br>

          <p>
            <i>Navy Paddle Plaques are awarded to over</i>
            50 different teams and individuals
            <i>across <strong>5 divisions</strong> &amp; <strong>19 categories</strong></i>

            <!-- <div class="btn-toolbar"> -->
              <a href="images/10-miler-awards.pdf" target="blank" class="btn btn-primary">View all awards</a>
            <!-- </div> -->
          </p>
        </div>

      </div>
    </div>
    <!--<img src="http://farm5.staticflickr.com/4079/4819051035_9421e25b2e.jpg" data-caption="<i>Under Armour</i> Navy Safe Harbor Foundation Draw String Bag">
    <img src="https://farm7.staticflickr.com/6058/6298367116_96b0f3c0aa_z.jpg" data-caption="<i>Navy Ten-Miler</i> Custom Race Bib">
    <img src="http://cache.boston.com/resize/bonzai-fba/Globe_Photo/2008/04/21/1208810294_9299/499w.jpg" data-caption="Free Race photos">
    <img src="http://placehold.it/600x800" data-caption="Live event tracking">
    <img src="http://placehold.it/600x800" data-caption="Real-time results">
    <img src="https://farm3.staticflickr.com/2349/2411663691_5320008ac4_b.jpg" data-caption="Water and Gatorade along course">
    <img src="http://placehold.it/600x800" data-caption="Energy stations along course">
    <img src="https://farm4.staticflickr.com/3290/2593786674_56e9244c57_b.jpg" data-caption="Start line and finish line snacks">
    <img src="http://placehold.it/600x800" data-caption="Exclusive offers">-->
  </div>

</div>
<div class="page-section" id="swag">
  <div class="container">
    

    <h2>Plank Owner Gear<br>
    <small>Every Inaugural Runner Receives:</small></h2>
    <ul class="features">
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Plank Owner Medal</b><br><small>Made in USA</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Under Armour Heatgear<sup>&reg;</sup></b> <br><small>Long Sleeve T-Shirt</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <!--<img src="https://farm7.staticflickr.com/6058/6298367116_96b0f3c0aa_z.jpg" class="fa-circled"> keep for future reference-->
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Navy Ten-Miler</small><br><b>Customizable Race Bib</b><br><small>Personalized by You</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Nylon, Draw String Bag</b><br><small>18” x 14” x 1.5”</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Race Photos</small><br><b>GameFace Media</b><br><small>4 to 6 Photos</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Shellback Finsher's Certificate</b><br><small>Mailed to All Finishers</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Timing &amp; Live Tracking</b> <br><small>SMS for Your Fans</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Course Hydration</b><br><small>H<sup>20</sup> &amp; Electrolytes</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Course Energy</b><br><small>Food &amp; Gels</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Training Program</b><br><small>Diet &amp; Workout Plans</small></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>Navy Ten-Miler</small><br><b>Future Event Guarantee&trade;</b><br><small>Guaranteed Future Entry</small></h4>
        </div>
      </li>
      <!--<li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        
        <div class="feature-body">
          <h4><small>One More?</small><br><b>Blah Blah Blah</b><br> For Balance</h4>
        </div>
      </li>-->
    </ul>

    


    <div class="prices">
      <div class="retail"><b>Runner - Plank Owner. Retail Price: $126</b></div>
      <div class="bracket">By May 1st: <span class="discount">$30 off</span></div>
      <div class="bracket">By June 5th: <span class="discount">$20 off</span></div>
      <div class="bracket">By July 2nd: <span class="discount">$10 off</span></div>
    
    <div class="retail"><b>Today's Price: $96. Military Flat Rate: $76</b> <small>(while supplies last)</small></div>

    </div>

    <h2>Premium Admiral Package
    <br><small>In addition to Runner perks</small>
    <br><small>Limited to 500 Runners</small>
    <br><small>Add $50</small>
    </h2>
    <ul class="features">
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>USS Midway Reception</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Hot Breakfast</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Private Restrooms</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Commemorative Coin</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Post-Race Food</b></h4>
        </div>
      </li>
      <li>
        <div class="feature-icon">
          <i class="fa fa-trophy fa-circled fa-3x"> </i>
        </div>
        <div class="feature-body">
          <h4><small>2015 Navy Ten-Miler</small><br><b>Stretching Mat</b></h4>
        </div>
      </li>
    </ul>




  </div>
</div>

<div class="page-section arrowed-down-top arrowed-white" id="prices">
  <div class="container">

  </div>
  <div class="arrowed-long-left arrowed-dark"> </div>
</div>


<div class="page-section" id="volunteers">
  <div class="container">
    <header><h1>Volunteers and cheers</h1></header>
    <div class="hero-copy">
    <p class="lead">Without your support, the Navy Ten-Miler would not be possible.  Our course is spectator-friendly – so come out and let our participants know they are running with purpose.</p>
    <p class="lead">You don’t have to run to show your support; Volunteer!  Help us deliver the best experience for our participants.  Volunteers will contribute to a larger cause and receive a free t-shirt.  Every single volunteer will also be listed in our annual race recap message.
    </p>

    <div class="btn-toolbar">
      <button class="btn-warning btn">Volunteer info</button>
    </div>
    </div>
  </div>
</div>

<div class="page-section" id="partners">
  <div class="arrowed-long-right arrowed-dark"> </div>

  <div class="container">
    <h3>Official Partners</h3>
    <div class="row">
      <div class="partner">
        <p>Official Charity <br><a href="http://www.safeharborfoundation.org/" target="_blank"><img src="images/nshf-logo.png" alt="Navy Safe Harbor Foundation">
      </a>
        </p>
      </div>
      <div class="partner">
       <p>Official Store <br><a href="http://www.roadrunnersports.com/" target="_blank"><img src="images/roadrunner-logo.png" alt="Road Runner Sports"></a>
       </p>
      </div>
      <div class="partner">
        <p>Official Hotel <br><a href="http://hoteldel.com/" target="_blank"><img src="images/hotel-coronado.png" alt="Hotel del Coronado"></a></p>
      </div>
      <div class="partner">
        <p>Official Drink<a href="http://www.ruckpack.com/" target="_blank"><img src="images/ruckpack-logo.png" alt="Ruckpack Combat Nutrition"></a>
        </p>
      </div>
      <div class="partner">
        <p>Official Ticket <br><a href="http://www.activenetwork.com/" target="_blank"><img src="images/active-network-logo.png" alt="Ruckpack Combat Nutrition"></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="page-section" id="footer">

  <div class="container">
    <!--<hr>-->
  </div>
</div>